{% extends 'layouts/base.html' %}

{% block title %}Create{% endblock %}


{% block content %}

<div class="create_form">
    <form>
        <h1>{{ request.user.username }}</h1>
        <button>Create game server</button>
    </form>
</div>

{% endblock %}







<script>
                // data to be sent to the POST request
            let data = {
                id: {{ battle_id.id }},
                all_players: 0,
                first_player: "{{ request.user.username }}",
                second_player: "null",
                player_heal: 100,
                player_attack: 10,
                player_jump: false,
                player_winner: false,
                player_blow_turn: false,
                rival_heal: 100,
                rival_attack: 10,
                rival_jump: false,
                rival_winner: false,
                rival_blow_turn: false,
            }

            function edit() {
              submit = true
              fetch('/battle-edit/2', {
              method: 'POST', // or 'PUT'
              headers: {
                  'Content-Type': 'application/json',
                  'X-CSRFToken': '{{ csrf_token }}',
              },
              body: JSON.stringify(data),
              })
              .then((response) => response.json())
              .then((data) => {
                  console.log('Success:', data);
              })
              .catch((error) => {
                  console.error('Error:', error);
              });
            }
</script>