<title>Game - Edit</title>
<form method="post" id="{{ battle.id }}" class="rate_form">
    {{ rate_form }}
    <button type="button" onclick="edit()">Submit</button>
</form>

<script>

function edit(){
    let form_rate = document.querySelector('.rate_form')

let data = { 
    id: 2,
    all_players: 50,
    first_player: "super",
    second_player: "SALom2",
    player_heal: 100,
    player_attack: 10,
    player_jump: false,
    player_winner: false,
    player_blow_turn: false,
    rival_heal: 100,
    rival_attack: 10,
    rival_jump: false,
    rival_winner: false,
    rival_blow_turn: false
 };

fetch('/battle-edit/2', {
method: 'POST', // or 'PUT'
headers: {
    'Content-Type': 'application/json',
    'X-CSRFToken': '{{ csrf_token }}',
},
body: JSON.stringify(data),
})
.then((response) => response.json())
.then((data) => {
    console.log('Success:', data);
})
.catch((error) => {
    console.error('Error:', error);
});
}


</script>