{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="{% static 'images/main.jpg' %}">
    <title>Game - Tic tacoe</title>
</head>
<body>

    <div class="tictacoe">
        <div class="result_box"></div>
        <div class="confirm-box"></div>
        <div class="cub_boxes">
            <div class="cub" id="1"></div>
            <div class="cub" id="2"></div>
            <div class="cub" id="3"></div>
            <div class="cub" id="4"></div>
            <div class="cub" id="5"></div>
            <div class="cub" id="6"></div>
            <div class="cub" id="7"></div>
            <div class="cub" id="8"></div>
            <div class="cub" id="9"></div>
        </div>
    </div>
    
    <style>
        *{
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        }
        body{
            display: flex;
            align-items: center;
            justify-content: center;
        }
        .tictacoe{
            width: 100%;
            height: 100vh;
            display: flex;
            position: relative;
            align-items: center;
            background-size: cover;
            justify-content: center;
            background-position: center;
            background-repeat: no-repeat;
            background-image: url("{% static 'images/select-background.png' %}");
        }
        .tictacoe .result_box{
            top: 20%;
            width: 20%;
            height: 5%;
            display: flex;
            color: wheat;
            font-size: 30px;
            position: absolute;
            text-align: center;
            align-items: center;
            justify-content: center;
        }
        .tictacoe .cub_boxes{
            width: 25%;
            height: 50%;
            display: flex;
            flex-wrap: wrap;
            border-radius: 10%;
            align-items: center;
            justify-content: center;
            border: 2px solid gray;
            background-color: yellow;
        }
        .cub_boxes .cub{
            width: 25%;
            height: 25%;
            display: flex;
            margin-left: 2%;
            margin-right: 2%;
            font-size: 100px;
            align-items: center;
            justify-content: center;
            background-color: white;
            border: 2px solid black;
        }


    </style>



<script>
    let result_box = document.querySelector('.result_box')
    let cub_boxes = document.querySelectorAll('.cub')
    let cubs = document.querySelector('.cub_boxes')
    let battle_id = {{ battle_single.id }}

    let game_detals = {
        box_1: 'null',
        box_2: 'null',
        box_3: 'null',
        box_4: 'null',
        box_5: 'null',
        box_6: 'null',
        box_7: 'null',
        box_8: 'null',
        box_9: 'null',
        player_turn: true,
        rival_turn: false,
        rival_winner: false,
        player_winner: false,
        first_player: 'null',
        second_player: 'null',
    }

    function name_post(second_player_name) {
        game_detals.second_player = second_player_name
        edit_api()
    }

    setTimeout(() => {
        if (game_detals.first_player!=='{{ request.user.username }}'&&game_detals.second_player=='null') {
            name_post('{{ request.user.username }}')
        }
        else{
            name_post(game_detals.second_player)
            console.log('error name post');
        }
    }, 100);

    function get_api(){
              const api_url = `/battle2-${battle_id}`;

              // Defining async function
              async function getapi(url) {

              // Storing response
              const response = await fetch(url);

              // Storing data in form of JSON
              var data = await response.json();
              if (response) {
              hideloader();
              }
              show(data)
              }
              // Calling that async function
              getapi(api_url);

              // Function to hide the loader
              function hideloader() {
                
              }
              // Function to define innerHTML for HTML table
              function show(data) {
                game_detals.box_1 = data.box_1
                game_detals.box_2 = data.box_2
                game_detals.box_3 = data.box_3
                game_detals.box_4 = data.box_4
                game_detals.box_5 = data.box_5
                game_detals.box_6 = data.box_6
                game_detals.box_7 = data.box_7
                game_detals.box_8 = data.box_8
                game_detals.box_9 = data.box_9
                game_detals.first_player = data.first_player
                game_detals.second_player = data.second_player
                game_detals.rival_winner = data.rival_winner
                game_detals.player_winner = data.player_winner
                game_detals.player_turn = data.player_turn
                game_detals.rival_turn = data.rival_turn
              }
    }

    get_api()

    function edit_api() {
    fetch(`/battle2-edit/${battle_id}`, {
      method: "POST", // or 'PUT'
      headers: {
        "Content-Type": "application/json",
        "X-CSRFToken": "{{ csrf_token }}",
      },
      body: JSON.stringify(game_detals),
            })
            .then((response) => response.json())
            .then((data) => {
                console.log('post:', data);
            })
            .catch((error) => {
                console.error("Error:", error);
            });
        }

    function rival_winner(){
        game_detals.rival_winner = true
        game_detals.player_winner = false
        edit_api()
    }

    function player_winner(){
        game_detals.rival_winner = false
        game_detals.player_winner = true
        edit_api()
    }
    
    function friendship() {
        game_detals.rival_winner = true
        game_detals.player_winner = true
        edit_api()
    }

    cub_boxes.forEach(function (cub) {
        cub.addEventListener('click', function () {
            
            if (game_detals.player_winner==false&&game_detals.rival_winner==false) {
                    //  cub 1
                    if (cub.id==1) {
                        if (cub.innerHTML == ''&&game_detals.player_winner==false&&game_detals.rival_winner==false) {
                            if (game_detals.player_turn==true&&game_detals.rival_turn==false&&game_detals.first_player=='{{ request.user.username }}') {
                                game_detals.box_1 = 'x'
                                game_detals.rival_turn = true
                                game_detals.player_turn = false
                                edit_api()
                            }
                            else if(game_detals.player_turn==false&&game_detals.rival_turn==true&&game_detals.second_player=='{{ request.user.username }}'){
                                game_detals.box_1 = 'o'
                                game_detals.rival_turn = false
                                game_detals.player_turn = true
                                edit_api()
                            }
                            else{
                                console.log(cub.id);
                            }
                        }
                    }

                    // cub 2
                    else if (cub.id==2) {
                        if (cub.innerHTML == ''&&game_detals.player_winner==false&&game_detals.rival_winner==false) {
                            if (game_detals.player_turn==true&&game_detals.rival_turn==false&&game_detals.first_player=='{{ request.user.username }}') {
                                game_detals.box_2 = 'x'
                                game_detals.rival_turn = true
                                game_detals.player_turn = false
                                edit_api()
                            }
                            else if(game_detals.player_turn==false&&game_detals.rival_turn==true&&game_detals.second_player=='{{ request.user.username }}'){
                                game_detals.box_2 = 'o'
                                game_detals.rival_turn = false
                                game_detals.player_turn = true
                                edit_api()
                            }
                            else{
                                console.log(cub.id);
                            }
                        }
                    }

                    // cub 3
                    else if (cub.id==3) {
                        if (cub.innerHTML == ''&&game_detals.player_winner==false&&game_detals.rival_winner==false) {
                            if (game_detals.player_turn==true&&game_detals.rival_turn==false&&game_detals.first_player=='{{ request.user.username }}') {
                                game_detals.box_3 = 'x'
                                game_detals.rival_turn = true
                                game_detals.player_turn = false
                                edit_api()
                            }
                            else if(game_detals.player_turn==false&&game_detals.rival_turn==true&&game_detals.second_player=='{{ request.user.username }}'){
                                game_detals.box_3 = 'o'
                                game_detals.rival_turn = false
                                game_detals.player_turn = true
                                edit_api()
                            }
                            else{
                                console.log(cub.id);
                            }
                        }
                    }

                    // cub 4
                    else if (cub.id==4) {
                        if (cub.innerHTML == ''&&game_detals.player_winner==false&&game_detals.rival_winner==false) {
                            if (game_detals.player_turn==true&&game_detals.rival_turn==false&&game_detals.first_player=='{{ request.user.username }}') {
                                game_detals.box_4 = 'x'
                                game_detals.rival_turn = true
                                game_detals.player_turn = false
                                edit_api()
                            }
                            else if(game_detals.player_turn==false&&game_detals.rival_turn==true&&game_detals.second_player=='{{ request.user.username }}'){
                                game_detals.box_4 = 'o'
                                game_detals.rival_turn = false
                                game_detals.player_turn = true
                                edit_api()
                            }
                            else{
                                console.log(cub.id);
                            }
                        }
                    }

                    // cub 5
                    else if (cub.id==5) {
                        if (cub.innerHTML == ''&&game_detals.player_winner==false&&game_detals.rival_winner==false) {
                            if (game_detals.player_turn==true&&game_detals.rival_turn==false&&game_detals.first_player=='{{ request.user.username }}') {
                                game_detals.box_5 = 'x'
                                game_detals.rival_turn = true
                                game_detals.player_turn = false
                                edit_api()
                            }
                            else if(game_detals.player_turn==false&&game_detals.rival_turn==true&&game_detals.second_player=='{{ request.user.username }}'){
                                game_detals.box_5 = 'o'
                                game_detals.rival_turn = false
                                game_detals.player_turn = true
                                edit_api()
                            }
                            else{
                                console.log(cub.id);
                            }
                        }
                    }

                    // cub 6
                    else if (cub.id==6) {
                        if (cub.innerHTML == ''&&game_detals.player_winner==false&&game_detals.rival_winner==false) {
                            if (game_detals.player_turn==true&&game_detals.rival_turn==false&&game_detals.first_player=='{{ request.user.username }}') {
                                game_detals.box_6 = 'x'
                                game_detals.rival_turn = true
                                game_detals.player_turn = false
                                edit_api()
                            }
                            else if(game_detals.player_turn==false&&game_detals.rival_turn==true&&game_detals.second_player=='{{ request.user.username }}'){
                                game_detals.box_6 = 'o'
                                game_detals.rival_turn = false
                                game_detals.player_turn = true
                                edit_api()
                            }
                            else{
                                console.log(cub.id);
                            }
                        }
                    }

                    // cub 7
                    else if (cub.id==7) {
                        if (cub.innerHTML == ''&&game_detals.player_winner==false&&game_detals.rival_winner==false) {
                            if (game_detals.player_turn==true&&game_detals.rival_turn==false&&game_detals.first_player=='{{ request.user.username }}') {
                                game_detals.box_7 = 'x'
                                game_detals.rival_turn = true
                                game_detals.player_turn = false
                                edit_api()
                            }
                            else if(game_detals.player_turn==false&&game_detals.rival_turn==true&&game_detals.second_player=='{{ request.user.username }}'){
                                game_detals.box_7 = 'o'
                                game_detals.rival_turn = false
                                game_detals.player_turn = true
                                edit_api()
                            }
                            else{
                                console.log(cub.id);
                            }
                        }
                    }

                    // cub 8
                    else if (cub.id==8) {
                        if (cub.innerHTML == ''&&game_detals.player_winner==false&&game_detals.rival_winner==false) {
                            if (game_detals.player_turn==true&&game_detals.rival_turn==false&&game_detals.first_player=='{{ request.user.username }}') {
                                game_detals.box_8 = 'x'
                                game_detals.rival_turn = true
                                game_detals.player_turn = false
                                edit_api()
                            }
                            else if(game_detals.player_turn==false&&game_detals.rival_turn==true&&game_detals.second_player=='{{ request.user.username }}'){
                                game_detals.box_8 = 'o'
                                game_detals.rival_turn = false
                                game_detals.player_turn = true
                                edit_api()
                            }
                            else{
                                console.log(cub.id);
                            }
                        }
                    }

                    // cub 9
                    else if (cub.id==9) {
                        if (cub.innerHTML == ''&&game_detals.player_winner==false&&game_detals.rival_winner==false) {
                            if (game_detals.player_turn==true&&game_detals.rival_turn==false&&game_detals.first_player=='{{ request.user.username }}') {
                                game_detals.box_9 = 'x'
                                game_detals.rival_turn = true
                                game_detals.player_turn = false
                                edit_api()
                            }
                            else if(game_detals.player_turn==false&&game_detals.rival_turn==true&&game_detals.second_player=='{{ request.user.username }}'){
                                game_detals.box_9 = 'o'
                                game_detals.rival_turn = false
                                game_detals.player_turn = true
                                edit_api()
                            }
                            else{
                                console.log(cub.id);
                            }
                        }
                    }

            }

        })
    })


    let check_winner = setInterval(() => {
            let 
            b1 = game_detals.box_1,
            b2 = game_detals.box_2,
            b3 = game_detals.box_3,
            b4 = game_detals.box_4,
            b5 = game_detals.box_5,
            b6 = game_detals.box_6,
            b7 = game_detals.box_7,
            b8 = game_detals.box_8,
            b9 = game_detals.box_9;

            let all_box = [b1,b2,b3,b4,b5,b6,b7,b8,b9]
            let type_count = 0

        if (game_detals.player_winner==false&&game_detals.rival_winner==false) {
                    // player winner

                    // 1 2 3
                    if (b1=='x'&&b2=='x'&&b3=='x') {
                        player_winner()
                    }

                    // 4 5 6
                    else if (b4=='x'&&b5=='x'&&b6=='x') {
                        player_winner()
                    }

                    // 7 8 9
                    else if (b7=='x'&&b8=='x'&&b9=='x') {
                        player_winner()
                    }

                    // 1 4 7
                    else if (b1=='x'&&b4=='x'&&b7=='x') {
                        player_winner()
                    }

                    // 2 5 8
                    else if (b2=='x'&&b5=='x'&&b8=='x') {
                        player_winner()
                    }

                    // 3 6 9
                    else if (b3=='x'&&b6=='x'&&b9=='x') {
                        player_winner()
                    }

                    // 1 5 9
                    else if (b1=='x'&&b5=='x'&&b9=='x') {
                        player_winner()
                    }

                    // 3 5 7
                    else if (b3=='x'&&b5=='x'&&b7=='x') {
                        player_winner()
                    }

                    // rival winner

                    // 1 2 3
                    else if (b1=='o'&&b2=='o'&&b3=='o') {
                        rival_winner()
                    }

                    // 4 5 6
                    else if (b4=='o'&&b5=='o'&&b6=='o') {
                        rival_winner()
                    }

                    // 7 8 9
                    else if (b7=='o'&&b8=='o'&&b9=='o') {
                        rival_winner()
                    }

                    // 1 4 7
                    else if (b1=='o'&&b4=='o'&&b7=='o') {
                        rival_winner()
                    }

                    // 2 5 8
                    else if (b2=='o'&&b5=='o'&&b8=='o') {
                        rival_winner()
                    }

                    // 3 6 9
                    else if (b3=='o'&&b6=='o'&&b9=='o') {
                        rival_winner()
                    }

                    // 1 5 9
                    else if (b1=='o'&&b5=='o'&&b9=='o') {
                        rival_winner()
                    }

                    // 3 5 7
                    else if (b3=='o'&&b5=='o'&&b7=='o') {
                        rival_winner()
                    }

                    all_box.forEach(function (box) {
                        if (box!='null') {
                            type_count = type_count + 1
                                setInterval(() => {
                                    if (type_count==9) {
                                        type_count = 0
                                        friendship()
                                    }
                                    else{
                                        type_count = 0
                                    }
                                }, 500);
                        }
                        else{
                            type_count = 0
                        }
                    })
        }
        
        if (game_detals.player_winner==true&&game_detals.rival_winner==false) {
            result_box.innerHTML = `${game_detals.first_player} won!`
        }
        if (game_detals.player_winner==false&&game_detals.rival_winner==true) {
            result_box.innerHTML = `${game_detals.second_player} won!`
        }
        if (game_detals.player_winner==true&&game_detals.rival_winner==true) {
            result_box.innerHTML = `friendship won!`
        }
        

    }, 500);

    // setInteval( ---100ms--- )
    let innerHTML = setInterval(() => {
        get_api()
        if (game_detals.box_1!='null') {
            cub_boxes[0].innerHTML = game_detals.box_1
        }
        else{
            cub_boxes[0].innerHTML = ''
        }
        if (game_detals.box_2!='null') {
            cub_boxes[1].innerHTML = game_detals.box_2
        }
        else{
            cub_boxes[1].innerHTML = ''
        }
        if (game_detals.box_3!='null') {
            cub_boxes[2].innerHTML = game_detals.box_3
        }
        else{
            cub_boxes[2].innerHTML = ''
        }
        if (game_detals.box_4!='null') {
            cub_boxes[3].innerHTML = game_detals.box_4
        }
        else{
            cub_boxes[3].innerHTML = ''
        }
        if (game_detals.box_5!='null') {
            cub_boxes[4].innerHTML = game_detals.box_5
        }
        else{
            cub_boxes[4].innerHTML = ''
        }
        if (game_detals.box_6!='null') {
            cub_boxes[5].innerHTML = game_detals.box_6
        }
        else{
            cub_boxes[5].innerHTML = ''
        }
        if (game_detals.box_7!='null') {
            cub_boxes[6].innerHTML = game_detals.box_7
        }
        else{
            cub_boxes[6].innerHTML = ''
        }
        if (game_detals.box_8!='null') {
            cub_boxes[7].innerHTML = game_detals.box_8
        }
        else{
            cub_boxes[7].innerHTML = ''
        }
        if (game_detals.box_9!='null') {
            cub_boxes[8].innerHTML = game_detals.box_9
        }
        else{
            cub_boxes[8].innerHTML = ''
        }
        
    }, 300);

</script>

</body>
</html>