<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="{% url 'battle:battle_create' %}">BATTLE</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="{% url 'battle:home' %}">Home</a>
          </li>
          {% if not request.user.is_authenticated %}
          <li class="nav-item">
            <a class="nav-link" href="{% url 'battle:signup' %}">Sign Up</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'battle:login' %}">Login</a>
          </li>
          {% endif %}
          {% if request.user.is_authenticated %}
          <li class="nav-item">
            <a class="nav-link" href="{% url 'battle:logout' %}">Logout</a>
          </li>
          {% endif %}
        </ul>
        <div class="d-flex">
          <input class="form-control me-2" id="id_input" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success" type="button" id="enjoy_battle">Your ID</button>
        </div>
      </div>
    </div>
  </nav>

  <script>
        let enjoy_battle_btn = document.querySelector('#enjoy_battle')

        enjoy_battle_btn.addEventListener('click', function () {

          {% if request.user.is_authenticated %}

          let id_input = document.querySelector('#id_input')
          let computer_url = `http://127.0.0.1:8000/battle2/${id_input.value}`
          let heroku_url = `https://fighting-online.herokuapp.com/battle2/${id_input.value}`

          if (id_input.value!==''&&id_input.value!==' ') {

            if (window.location.href.charAt(5)!==':') {
              window.location.href = computer_url
            }

            else{
              window.location.href = heroku_url
            }

          }

          {% endif %}

        })



  </script> 